body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-custom-color {
    background-color: #002b80;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

    /* Custom button color */
    .btn-green {
      background-color: #54dd8d;
      border-color: #54dd8d;
  }

  /* Lighter shade on hover */
  .btn-green:hover {
      background-color: #36ff8a;
      border-color: #36ff8a;
  }

  #passwordStrength {
    width: 50%; /* Adjust this value to set the desired width */
    height: 20px; /* Adjust this value to set the desired height */
}

.custom-table {
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid black; /* Set black borders for the table */
  border-radius: 5px; /* Set border radius for the table */
}

.custom-table th, .custom-table td {
  border: 0px solid black; /* Set black borders for table cells */
  background-color: white; /* Set white background for table cells */
  border-radius: 0; /* Reset border radius for table cells */
}

.custom-table .thead-dark th {
  background-color: white; /* Override dark background for table header */
  color: black; /* Set text color for table header */
}

.rounded-top-left {
  border-top-left-radius: 20px; /* Set border radius for top left corner of table header cell */
}

.rounded-top-right {
  border-top-right-radius: 20px; /* Set border radius for top right corner of table header cell */
}

#cameraPlaceholder {
  width: 500px;
  height: auto;
  max-width: 100%;
  border: 8px solid #002b80; /* Border style */
  border-radius: 5px; /* Border radius */
}