{% extends "layout.html" %}
{% block content %}
    <header>
        <h1>Welcome to the Dashboard</h1>
    </header>
    <main>
        {% if user_role == 'admin' %}
            <h2>Admin Dashboard</h2>
        {% elif user_role == 'user' %}
            <div class="container user-dashboard">
            </br>
                <h2>TANG INA MO {{ user_firstname }} !</h2>
            </br>
                <div class="row">
                    <!-- QR Code Image -->
                    <div class="col-md-6">
                        <div class="qr-code-image">
                            <h3>QR Code Image:</h3>
                            <img src="data:image/png;base64,{{ qr_code_image }}" alt="QR Code" class="img-fluid">
                        </div>
                    </div>
                    <!-- Decoded QR Code Data -->
                    <div class="col-md-6">
                        <div class="decoded-data">
                            <h3>Decoded QR Code Data:</h3>
                            <ul class="list-group">
                                {% for item in decoded_data %}
                                    {% for line in item.split('\n') %}
                                        {% if line.strip() %}
                                            <li class="list-group-item">{{ line }}</li>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Buttons Row -->
                <div class="row mt-3">
                    <div class="col-md-6">
                        <a href="data:image/png;base64,{{ qr_code_image }}" download="qr_code_image.png" class="btn btn-primary">Download Image</a>
                        <a href="#" class="btn btn-secondary">Another Action</a>
                    </div>
                    <div class="col-md-6">
                    <!--FOR THE DECODED LIST-->
                    </div>
                </div>
            </div>
        {% else %}
            <p>Unknown user role</p>
        {% endif %}
    </main>
    <footer>
    </footer>
{% endblock %}
