{% extends "layout.html" %}
{% block content %}
    <header>
    </header>
    <main>
        {% if user_role == 'admin' %}

        <h2 class="text-center mt-5">Admin Dashboard</h2>
        <h2 class="text-center">Hello {{ admin_firstname }}!</h2>
        <h3 class="mt-3">Decoded Data: {{ decoded_data }}</h3>
        <h3 class="mt-3">Processed Route: {{ processed_route }}</h3>
        <div class="text-center mt-4">
            <div id="cameraContainer" class="mt-4">
                <!-- Placeholder for either camera feed or QR code image -->
                <div id="cameraFeed" style="width: 100%; max-width: 500px;"></div>
                <!-- Placeholder for image -->
                <img id="imagePlaceholder" src="{{ url_for('static', filename='images/neust_logo.png') }}" style="width: 50%; max-width: 500px;">
            </div>
            <button class="btn btn-primary" onclick="activateCamera()">Activate Camera</button>
        </div>
        
        <!-- JavaScript for camera activation -->
        <script>
        function activateCamera() {
            var cameraContainer = document.getElementById("cameraContainer");
            var cameraFeed = document.getElementById("cameraFeed");
            var imagePlaceholder = document.getElementById("imagePlaceholder");
        
            Quagga.init({
                inputStream: {
                    name: "Live",
                    type: "LiveStream",
                    target: cameraFeed
                },
                decoder: {
                    readers: ["code_128_reader", "ean_reader", "ean_8_reader", "code_39_reader", "code_39_vin_reader", "codabar_reader", "upc_reader", "upc_e_reader", "i2of5_reader", "2of5_reader", "code_93_reader"],
                    debug: {
                        drawBoundingBox: true,
                        showFrequency: false,
                        drawScanline: true,
                        showPattern: false
                    }
                }
            }, function (err) {
                if (err) {
                    console.error("Failed to initialize Quagga: ", err);
                    return;
                }
                Quagga.start();
                cameraFeed.style.display = "block";
                imagePlaceholder.style.display = "none";
            });
        
            Quagga.onDetected(function (result) {
                Quagga.stop();
                var decodedData = result.codeResult.code;
                document.getElementById("decodedData").innerText = decodedData;
                document.getElementById("processedRoute").innerText = "Processed Route: /process_qr_code?qr_data=" + encodeURIComponent(decodedData);
                window.location.href = "/process_qr_code?qr_data=" + encodeURIComponent(decodedData);
            });
        }
        </script>
        
        <!-- Initialize Eruda -->
        <script>
        // Initialize Eruda if debug mode is enabled
        if (window.location.href.includes('debug=true')) {
            eruda.init();
        }
        </script>
        {% elif user_role == 'user' %}
            <div class="container user-dashboard">
                </br>
                <h2 class="text-center">Hello {{ user_firstname }} !</h2>
                <div class="user-content">
                    <div class="row justify-content-center">
                        <!-- Introduction and Guidelines -->
                        <div class="col-md-6">
                            <div class="intro-guidelines text-center">
                                <h3>Campus Watch</h3>
                                <p>This is a vehicle management system for tracking time in and time out within the University of NEUST. The QR code presented here is to be shown to the guard each time users enter and exit the premises.</p>
                                <h3>Guidelines:</h3>
                                <ul>
                                    <li>Always keep your QR code accessible.</li>
                                    <li>Show your QR code to the guard upon entering and exiting the premises.</li>
                                    <li>Ensure the QR code is clear and visible to the guard.</li>
                                </ul>
                            </div>
                        </div>
                        <!-- QR Code Image -->
                        <div class="col-md-6 text-center">
                            <div class="qr-code-image" style="background-color: #002b80; padding: 10px; border-radius: 5px;">
                                <h3 style="color: white;">QR Code</h3>
                                <img src="data:image/png;base64,{{ qr_code_image }}" alt="QR Code" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <!-- Legend line -->
                    
                    <!-- Modal -->
                    <div class="modal fade" id="decodedDataModal" tabindex="-1" role="dialog" aria-labelledby="decodedDataModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="decodedDataModalLabel">Decoded QR Code Data</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <ul class="list-group">
                                        {% for item in decoded_data %}
                                            {% for line in item.split('\n') %}
                                                {% if line.strip() %}
                                                    <li class="list-group-item">{{ line }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Buttons Row -->
                    <div class="row mt-3 justify-content-center">
                        <div class="col-md-6 text-center">
                            <a href="data:image/png;base64,{{ qr_code_image }}" download="qr_code_image.png" class="btn btn-primary">Download Image</a>
                            <!-- Another Action Button -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#decodedDataModal">View Data</button>
                        </div>
                    </div>
                    <hr style="margin-top: 30px; margin-bottom: 30px; border-top: 1px solid #002b80;">
                </div>
            </div>
            <!-- Profile Personal Information -->
            <div class="container profile-info mt-5 p-4 rounded">
                <h3 class="text-center mb-4">Profile Personal Information</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="info-item bg-light p-2 rounded mb-2">
                            <p><strong>Student Number:</strong> {{ user_info[0] }} <a href="#"><span class="material-icons float-right">edit</span></a></p>
                        </div>
                        <div class="info-item bg-light p-2 rounded mb-2">
                            <p><strong>Last Name:</strong> {{ user_info[1] }} <a href="#"><span class="material-icons float-right">edit</span></a></p>
                        </div>
                        <div class="info-item bg-light p-2 rounded mb-2">
                            <p><strong>First Name:</strong> {{ user_info[2] }} <a href="#"><span class="material-icons float-right">edit</span></a></p>
                        </div>
                        <div class="info-item bg-light p-2 rounded mb-2">
                            <p><strong>Email:</strong> {{ user_info[3] }} <a href="#"><span class="material-icons float-right">edit</span></a></p>
                        </div>
                        <div class="info-item bg-light p-2 rounded">
                            <p><strong>Contact Number:</strong> {{ user_info[4] }} <a href="#"><span class="material-icons float-right">edit</span></a></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-item bg-light p-2 rounded mb-2">
                            <p><strong>License Plate:</strong> {{ vehicle_info[2] }} <a href="#"><span class="material-icons float-right">edit</span></a></p>
                        </div>
                        <div class="info-item bg-light p-2 rounded">
                            <p><strong>Vehicle Model:</strong> {{ vehicle_info[3] }} <a href="#"><span class="material-icons float-right">edit</span></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footing Content -->
            <div class="container footing-content mt-5">
                <p class="text-center">&copy; 2024 University of NEUST. All rights reserved.</p>
                <!-- Add your footing content here -->
            </div>
        {% else %}
            <p class="text-center">Unknown user role</p>
        {% endif %}
    </main>
{% endblock %}



