{% extends 'layout_forms.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="content-section col-md-3" style="box-shadow: 0 0 10px rgba(0,0,0,0.2); padding: 20px; border-radius: 10px;">
        <img src="{{ url_for('static', filename='images/neust_logo.png') }}" alt="NEUST Logo" class="img-fluid mb-4" style="width: 250px; height: auto; display: block; margin-left: auto; margin-right: auto;">
        <p style="text-align: center; font-size: 30px; font-weight: bold;">Campus Watch</p>
        <p style="text-align: center; font-size: 24px;">A Vehicle Management System</p>
        <hr></hr>
        <div class="container">
            <div class="col-md-20">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert-container">
                        {% for category, message in messages %}
                            {% if category == 'verification_success_message' %}
                                <div class="alert alert-success">
                                    <div class="text-success">{{ message }}</div>
                                    <a href="{{ url_for('auth.resend_user_verification_email') }}">Click here to resend</a>
                                </div>
                            {% elif category == 'success' %}
                                <div class="alert alert-success">{{ message }}</div>
                            {% elif category == 'danger' %}
                                <div class="alert alert-danger">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}
            </div>
            <div class="row">
                <div class="col">
                    <a href="{{ url_for('auth.user_login')}}" class="btn btn-primary btn-block">Login as User</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <a href="{{ url_for('auth.admin_login')}}" class="btn btn-primary btn-block">Login as Admin</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
