{% extends 'layout_forms.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="content-section col-md-3" style="box-shadow: 0 0 10px rgba(0,0,0,0.2); padding: 20px; border-radius: 10px;">
        <img src="{{ url_for('static', filename='images/neust_logo.png') }}" alt="NEUST Logo" class="img-fluid mb-4" style="width: 250px; height: auto; display: block; margin-left: auto; margin-right: auto;">
        <p style="text-align: center; font-size: 24px; font-weight: bold;">Vehicle Management System</p> 
        <p style="text-align: center; font-size: 24px; font-weight: 0;">Login</p>
        <form method="POST" action="{{ url_for('auth.login') }}" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="text-align: center;"></legend>
                <!-- flash message -->
                <div class="col-md-20">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="alert-container">
                            {% for category, message in messages %}
                                {% if category == 'verification_success_message' %}
                                    <div class="alert alert-success">
                                        <div class="text-success">{{ message }}</div>
                                        <a href="{{ url_for('auth.resend_verification_email') }}">Click here to resend</a>
                                    </div>
                                {% elif category == 'success' %}
                                    <div class="alert alert-success">{{ message }}</div>
                                {% elif category == 'danger' %}
                                    <div class="alert alert-danger">{{ message }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% endwith %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}  
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }} 
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %} 
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }} 
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="6LfP-rUpAAAAAJTZx8j-nxKTUH18EfG3We5jW9T_"></div>
                </div>
                <input type="hidden" name="g-recaptcha-response">
                
            </fieldset>
            <div class="form-group mt-4">
                {{ form.submit(class="btn btn-green btn-block") }}
            </div>
        </form>
        <p style="text-align: center; font-size: 16px;">Don't have an account? <a href="{{ url_for('auth.register') }}">Create one</a></p> 
        <!-- Adding "Having trouble logging in?" link -->
        <p style="text-align: center; font-size: 16px;"><a href="{{ url_for('account_recovery.account_recovery') }}">Having trouble logging in?</a></p> 
    </div>
</div>
<style>
    #passwordStrength {
        width: 10%; /* Adjust this value to set the desired width */
        height: 20px; /* Adjust this value to set the desired height */
    }
</style>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
