{% extends 'layout_forms.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="content-section" style="box-shadow: 0 0 10px rgba(0,0,0,0.2); padding: 20px; border-radius: 10px;">
                <img src="{{ url_for('static', filename='images/neust_logo.png') }}" alt="NEUST Logo" class="img-fluid mb-4 mx-auto d-block" style="width: 250px; height: auto;">
                <h2 class="text-center mb-4">Vehicle Management System</h2>
                <h3 class="text-center mb-4">Admin Registration</h3>
                <form id="registrationForm" method="POST" action="{{ url_for('auth.register_admin') }}" novalidate>
                    {{ form.hidden_tag() }}
                    <legend class="border-bottom mb-4" style="text-align: center;"></legend>
                    <div class="col-md-20">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div class="alert-container">
                                {% for category, message in messages %}
                                    {% if category == 'success' %}
                                        <div class="alert alert-success">{{ message }}</div>
                                    {% elif category == 'danger' %}
                                        <div class="alert alert-danger">{{ message }}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class="form-group">
                        {{ form.employee_id.label(class="form-control-label") }}
                        {% if form.employee_id.errors %}
                            {{ form.employee_id(class="form-control is-invalid", placeholder="Employee ID") }}
                            <div class="invalid-feedback">
                                {% for error in form.employee_id.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.employee_id(class="form-control", placeholder="Employee ID") }}
                        {% endif %}
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form.firstname.label(class="form-control-label") }}
                            {% if form.firstname.errors %}
                                {{ form.firstname(class="form-control is-invalid", placeholder="First Name") }}
                                <div class="invalid-feedback">
                                    {% for error in form.firstname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.firstname(class="form-control", placeholder="First Name") }}
                            {% endif %}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.lastname.label(class="form-control-label") }}
                            {% if form.lastname.errors %}
                                {{ form.lastname(class="form-control is-invalid", placeholder="Last Name") }}
                                <div class="invalid-feedback">
                                    {% for error in form.lastname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.lastname(class="form-control", placeholder="Last Name") }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid", placeholder="Email Address") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control", placeholder="Email Address") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.confirm_email.label(class="form-control-label") }}
                        {% if form.confirm_email.errors %}
                            {{ form.confirm_email(class="form-control is-invalid", placeholder="Confirm Email Address") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_email(class="form-control", placeholder="Confirm Email Address") }}
                        {% endif %}
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form.contactnumber.label(class="form-control-label") }}
                            {% if form.contactnumber.errors %}
                                {{ form.contactnumber(class="form-control is-invalid", placeholder="Contact Number") }}
                                <div class="invalid-feedback">
                                    {% for error in form.contactnumber.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.contactnumber(class="form-control", placeholder="Contact Number") }}
                            {% endif %}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.confirm_contactnumber.label(class="form-control-label") }}
                            {% if form.confirm_contactnumber.errors %}
                                {{ form.confirm_contactnumber(class="form-control is-invalid", placeholder="Confirm Contact Number") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_contactnumber.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.confirm_contactnumber(class="form-control", placeholder="Confirm Contact Number") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form.password.label(class="form-control-label") }}
                            {% if form.password.errors %}
                                {{ form.password(class="form-control is-invalid", id="passwordInput", placeholder="Password") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="input-group">
                                    {{ form.password(class="form-control", id="passwordInput", placeholder="Password") }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form.confirm_password.label(class="form-control-label") }}
                            {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="form-control is-invalid", id="confirmPasswordInput", placeholder="Confirm Password") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="input-group">
                                    {{ form.confirm_password(class="form-control", id="confirmPasswordInput", placeholder="Confirm Password") }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Checkbox for showing password -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="togglePasswordCheckbox" onchange="togglePasswordVisibility()">
                        <label class="form-check-label" for="togglePasswordCheckbox">Show Password</label>
                    </div>
                    <!-- Password strength meter -->
                    <div class="form-group col-md-12" style="font-size: 15px;">
                        <progress id="passwordStrength" class="form-control" max="5" value="0"></progress> <br>
                        <ul>
                            <li>Password must be at least 8 characters long</li>
                            <li>Password must contain at least one digit.</li>
                            <li>Password must contain at least one uppercase/lowercase letter.</li>
                            <li>Password must contain at least one special character.</li>
                        </ul> <br>
                    </div>
                    <div class="form-group">
                        <div class="g-recaptcha" data-sitekey="6LfP-rUpAAAAAJTZx8j-nxKTUH18EfG3We5jW9T_"></div>
                    </div>
                    <button type="button" id="submitButton" class="btn btn-primary btn-block">Register</button>
                </form>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="text-center mt-3">
                            <legend class="border-bottom mb-4" style="text-align: center;"></legend>
                            <p>Already have an account? <a href="{{ url_for('auth.admin_login') }}">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("passwordInput");
        var confirmPasswordInput = document.getElementById("confirmPasswordInput");
        var x = document.getElementById("togglePasswordCheckbox");
        if (x.checked) {
            passwordInput.type = "text";
            confirmPasswordInput.type = "text";
        } else {
            passwordInput.type = "password";
            confirmPasswordInput.type = "password";
        }
    }

    function checkPasswordStrength() {
        var password = document.getElementById("passwordInput").value;
        var strengthMeter = document.getElementById("passwordStrength");
        var strength = 0;

        // Check if password contains at least one digit
        if (/\d/.test(password)) {
            strength++;
        }

        // Check if password contains at least one uppercase letter
        if (/[A-Z]/.test(password)) {
            strength++;
        }

        // Check if password contains at least one lowercase letter
        if (/[a-z]/.test(password)) {
            strength++;
        }

        // Check if password contains at least one special character
        if (/[^a-zA-Z0-9]/.test(password)) {
            strength++;
        }

        // Max out the progress bar if all conditions are met
        if (strength === 4) {
            strengthMeter.value = 5; // Max value of the progress bar
        } else {
            strengthMeter.value = strength;
        }
    }

    // Add event listeners
    document.getElementById("passwordInput").addEventListener("input", checkPasswordStrength);
    document.getElementById("togglePasswordCheckbox").addEventListener("change", togglePasswordVisibility);

    document.getElementById('submitButton').addEventListener('click', function() {
        Swal.fire({
            title: 'Confirm Registration',
            text: 'Are you sure you want to submit the form?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Yes, Register!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('registrationForm').submit();
            }
        });
    });
</script>
{% endblock %}
