{% extends 'layout_forms.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="content-section col-md-3" style="box-shadow: 0 0 10px rgba(0,0,0,0.2); padding: 20px; border-radius: 10px;">
        <img src="{{ url_for('static', filename='images/neust_logo.png') }}" alt="NEUST Logo" class="img-fluid mb-4" style="width: 250px; height: auto; display: block; margin-left: auto; margin-right: auto;">
        <p style="text-align: center; font-size: 24px; font-weight: bold;">Account Recovery</p> 
        <form method="POST" action="{{ url_for('account_recovery.reset_password', token=token) }}" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="text-align: center;"></legend>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="col-md-20">
                    <div class="alert-container">
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message | safe }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% endwith %}
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}  
                    {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }} 
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %} 
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control form-control-lg", placeholder="Password") }} 
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}  
                    {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }} 
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %} 
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.confirm_password(class="form-control form-control-lg", placeholder="Confirm Password") }} 
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-green btn-block">Reset Password</button>
            </div>
        </form>
        <p style="text-align: center; font-size: 16px;">Remember your password? <a href="{{ url_for('auth.login') }}">Log in</a></p> 
    </div>
</div>
{% endblock content %}


