{% extends 'layout.html' %}

{% block content %}

<!-- <h1>Vehicles</h1> -->
</br></br></br>
<div class="container-fluid" style="padding-top: 150px;">
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}
  <div class="row justify-content-center">
    <div class="col-md-10 mb-4">
      <div class="input-group rounded">
        <input type="search" class="form-control rounded" id="searchInput" placeholder="Search..." aria-label="Search" aria-describedby="search-addon">
        <button class="btn btn-primary" type="button" id="addVehicleButton" data-bs-toggle="modal" data-bs-target="#addVehicleModal">Add Vehicle</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addVehicleModal" tabindex="-1" aria-labelledby="addVehicleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addVehicleModalLabel">Add Vehicle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('vehicles.add_vehicle') }}" method="post">
          {{ form.csrf_token }}
          <div class="mb-3">
            {{ form.model.label(class="form-label") }}
            {{ form.model(class="form-control") }}
          </div>
          <div class="mb-3">
            {{ form.license_plate.label(class="form-label") }}
            {{ form.license_plate(class="form-control") }}
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-20">
      <div class="table-container">
        <div class="table-responsive">
          <table class="table custom-table" id="dataTable">
            <thead class="thead-dark rounded-top">
              <tr>
                <th class="rounded-top-left">#</th>
                <th>Model</th>
                <th>License Plate</th>
                <th class="rounded-top-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for vehicle in vehicles %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ vehicle.model }}</td>
                <td>{{ vehicle.licenseplate }}</td>
                <td></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% if time_logs|length > 10 %}
  <div class="row justify-content-center">
    <div class="col-md-20">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if page > 1 %}
          <li class="page-item"><a class="page-link" href="{{ url_for('logs.logs', page=page-1) }}">Previous</a></li>
          {% endif %}
          {% for p in range(1, (time_logs|length // 10) + 2) %}
          <li class="page-item {% if p == page %}active{% endif %}"><a class="page-link" href="{{ url_for('logs.logs', page=p) }}">{{ p }}</a></li>
          {% endfor %}
          {% if page < (time_logs|length // 10) + 1 %}
          <li class="page-item"><a class="page-link" href="{{ url_for('logs.logs', page=page+1) }}">Next</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
  {% endif %}
</div>

<script>
    document.getElementById('searchInput').addEventListener('input', function() {
      var filter, table, tr, td, i, txtValue;
      filter = this.value.toUpperCase();
      table = document.getElementById('dataTable');
      tr = table.getElementsByTagName('tr');
      for (i = 1; i < tr.length; i++) {
        var found = false;
        for (var j = 0; j < tr[i].cells.length; j++) {
          td = tr[i].cells[j];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              found = true;
              break; 
            }
          }
        }
        if (found) {
          tr[i].style.display = '';
        } else {
          tr[i].style.display = 'none';
        }
      }
    });
  </script>

{% endblock %}
